p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--text-title);
}
h1 {
  color: var(--text-white);
}
.avatar {
  width: 15rem;
  margin-top: -160px;
  box-shadow: 3px 3px 3px #1b1d28;
}
.about {
  background-color: #1b1d28;
}
